<div class="m-3">
    <div class="row align-items-center">
        <div class="col-sm-3">
            <p-dropdown [style]="{'minWidth':'100%'}" [options]="categories!" [(ngModel)]="selectedCategoryId"
                optionLabel="name" [showClear]="true" placeholder="Select the Location Category">
                <ng-template pTemplate="selectedItem" let-category>
                    <div>{{ category.name }}</div>
                </ng-template>
            </p-dropdown>
        </div>

        <div class="col-sm-3">
            <p-dropdown [style]="{'minWidth':'100%'}" [options]="levels!" [(ngModel)]="selecttedLevel"
                optionLabel="label" [showClear]="true" placeholder="Select the level of difficulties">
                <ng-template pTemplate="selectedItem" let-category>
                    <div>{{ category.label }}</div>
                </ng-template>
            </p-dropdown>
        </div>
        
        <div class="col-sm-3">
            <button pButton type="button" icon="pi pi-arrow-left" (click)="revertCircuit()" [disabled]="isDisabled()"></button>
        </div>

    </div>
</div>
<ng-container *ngIf="selecttedLevel!=undefined && selectedCategoryId!=undefined ">
    <app-map [selectedCategoryId]="selectedCategoryId" [isAddLocation]="true" [isDeleteLocation]="deleteLocation"
        (circuitLocationOnAdd)="handledestinationLocationOnAddEvent($event)"></app-map>

    <div class="row justify-content-end m-3 ">
        <div class="col-auto">
            <button pButton type="button" label="Submit" (click)="submitLocationPopup()"
                class="btn btn-primary mr-2"></button>
        </div>
        <div class="col-auto">
            <button pButton type="button" label="Cancel" (click)="cancelLocation()" class="btn btn-secondary"></button>
        </div>
    </div>
</ng-container>





<p-dialog header="Confirm Circuit" [(visible)]="display" [style]="{width: '50vw'}" [baseZIndex]="10000">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <p>Please add an image to the destinationLocation and a description of it</p>
                <input type="file" (change)="onFileChange($event)" accept="image/*" class="form-control mb-3">
                <!-- Placeholder for the uploaded image -->
                <div *ngIf="imageUrl" class="text-center mb-3">
                    <img [src]="imageUrl" alt="Uploaded Image" class="img-thumbnail" style="max-width: 200px;">
                </div>
                <ng-container *ngIf="circuitLocationOnAdd && circuitLocationOnAdd.length > 0">
                    <input type="text" placeholder="name"
                        [(ngModel)]="circuitLocationOnAdd![circuitLocationOnAdd!.length - 1]!.name"
                        class="form-control mb-3">

                    <input type="text" placeholder="Latitude"
                        [(ngModel)]="circuitLocationOnAdd![circuitLocationOnAdd!.length - 1]!.lat"
                        class="form-control mb-3" disabled>
                    <input type="text" placeholder="Longitude"
                        [(ngModel)]="circuitLocationOnAdd![circuitLocationOnAdd!.length - 1]!.lon"
                        class="form-control mb-3" disabled>
                </ng-container>
                
                <textarea class="form-control" rows="3" placeholder="Enter description..."></textarea>
                <div class="d-flex justify-content-end mb-3">
                    <button pButton type="button" label="Submit" (click)="submitCircuit()"
                        class="btn btn-primary"></button> <!-- Add padding to all sides -->
                    <button pButton type="button" label="Cancel" (click)="cancelLocationPopup()"
                        class="btn btn-secondary"></button>
                </div>


            </div>
        </div>
    </div>
</p-dialog>