<div class="mb-3 ">
    <label for="categoryDropdown" class="form-label col-sm-3">Select Category:</label>
    <div class="row align-items-center">
        <div class="col-sm-3">
            <select id="categoryDropdown" class="form-select col-sm-9" [(ngModel)]="selectedCategoryId">
                <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
            </select>
        </div>
        <div class="col-sm-3">
            <p-toast></p-toast>
            <button pButton type="button" [icon]="!addLocation ? 'pi pi-plus' : 'pi pi-minus'" (click)="onAddClick()" class="p-button-sm"></button>
            <button pButton type="button" [icon]="!deleteLocation ? 'pi pi-trash' : 'pi pi-times'" (click)="onDeleteClick()" class="p-button-sm" style="margin-left: 5px;"></button>
        </div>
    </div>
</div>



<app-map [selectedCategoryId]="selectedCategoryId" [isAddLocation]="addLocation" [isDeleteLocation]="deleteLocation" (display)="handleAddEvent($event)"></app-map>
<p-dialog header="Confirm Location" [(visible)]="display" [style]="{width: '50vw'}" [baseZIndex]="10000">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <input type="file" (change)="onFileChange($event)" accept="image/*" class="form-control mb-3">
                <!-- Placeholder for the uploaded image -->
                <div *ngIf="imageUrl" class="text-center mb-3">
                    <img [src]="imageUrl" alt="Uploaded Image" class="img-thumbnail" style="max-width: 200px;">
                </div>
                <input type="text" placeholder="Latitude" [(ngModel)]="lat" class="form-control mb-3" disabled>
                <input type="text" placeholder="Longitude" [(ngModel)]="lng" class="form-control mb-3" disabled>
                <div class="text-center">
                    <button pButton type="button" label="Submit" (click)="submitLocation()"
                        class="btn btn-primary mr-2"></button>
                    <button pButton type="button" label="Cancel" (click)="cancelLocation()"
                        class="btn btn-secondary"></button>
                </div>
            </div>
        </div>
    </div>
</p-dialog>