<!-- map.component.html -->
<div id="map" style="height: 100vh; max-width: 100%;"></div>
<div (ngModelChange)="getMarkers(selectedCategoryId)"></div>
<p-toast></p-toast>

<p-dialog [(visible)]="deleteDisplay" [baseZIndex]="10000">
    <div class="dialog-container">
        <div class="dialog-content">
            <div class="dialog-header">
                Confirm Location delete
            </div>
            <div class="dialog-body">
                <p>Are you sure you want to delete this location?</p>
            </div>
            <div class="dialog-footer">
                <button pButton type="button" label="Submit" (click)="submitDelete()" class="btn btn-primary"></button>
                <button pButton type="button" label="Cancel" (click)="cancelDelete()" class="btn btn-secondary"></button>
            </div>
        </div>
    </div>
</p-dialog>

