<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white">
    <div class="row text-white">
        <!-- Logo on the left (start) -->
        <div class="col-md-3">
            <a href="/" class="d-flex align-items-center text-white text-decoration-none">
                <span class="fs-5 d-none d-sm-inline">Menu</span>
            </a>
        </div>

        <!-- Sign-in/Sign-out link on the right (end) -->
        <div class="col-md-9 text-end">
            <ng-container *ngIf="user == null; else loggedInTemplate">
                <a class="btn btn-outline-light" (click)="showDialog()">Sign In</a>
            </ng-container>
            <ng-template #loggedInTemplate>
                <a class="btn btn-outline-light" (click)="logout()">Sign Out</a>
            </ng-template>
        </div>
    </div>


    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
        <ng-container *ngIf="user==null; else menuAdmin">
            <li>
                <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Categories</span>
                </a>
                <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                    <li class="w-100" *ngFor="let category of categories" (click)="onCategoryClick(category.id)">
                        <a class="nav-link px-0 cursor-pointer"> <span
                                class="d-none d-sm-inline">{{category.name}}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ng-container>

        <ng-template #menuAdmin>
            <li>
                <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                    <li class="w-100">
                        <a routerLink="consulter_categorie" class="nav-link px-0"> <span
                                class="d-none d-sm-inline">Category</span>
                        </a>
                    </li>

                    <li class="w-100">
                        <a routerLink="consulter_location" class="nav-link px-0"> <span
                                class="d-none d-sm-inline">Location</span>
                        </a>
                    </li>

                </ul>
            </li>
        </ng-template>
    </ul>
</div>
<p-dialog header="Sign In" [(visible)]="display" [style]="{width: '50vw'}" [baseZIndex]="10000">
    <app-login (display)="onLoginHandle($event)"></app-login>
</p-dialog>