<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark" style="min-height: 45vh; max-height: 45vh;">
            <app-menu [categories]="categories" (selectedCategoryId)="handleCategoryId($event)"></app-menu>
        </div>
        <div class="col py-3">
            <ng-container *ngIf="user==null;else adminHome">
                <app-map [selectedCategoryId]="selectedCategoryId"></app-map>
                <router-outlet></router-outlet>
            </ng-container>
            <ng-template #adminHome>
                <app-admin-home></app-admin-home>
                <router-outlet></router-outlet>
            </ng-template>
        </div>
    </div>
</div>
