
<ul class="collapse show nav flex-column ms-1 vh-100" id="submenu1" data-bs-parent="#menu">
    <li class="w-100">
        <a routerLink="consulter_categorie" class="nav-link px-0"> <span class="d-none d-sm-inline">Category</span>
        </a>
    </li>

    <li class="w-100">
        <a routerLink="consulter_location" class="nav-link px-0"> <span class="d-none d-sm-inline">Add Circuit Manually</span>
        </a>
    </li>

    <li class="w-100">
        <a routerLink="manage_circuit_tab" class="nav-link px-0"> <span class="d-none d-sm-inline">Add Circuit Automatically</span>
        </a>
    </li>

</ul>